{% load vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if debug %}
      {% comment %}This is for HMR (Hot module reload aka hot reload){% endcomment %}
      <script type="module" src="{% vite_dev_url %}@vite/client"></script>
    {% endif %}

    {% comment %}images and resources that are not js or css should be in public folder{% endcomment %}
    <link rel="shortcut icon" href="{% static 'vite.svg' %}" type="image/x-icon" />

    {% comment %}Load tailwind css{% endcomment %}
    <link rel="stylesheet" href="{% static 'app.css' %}" />

    <script type="module" src="{% static 'libs/fontawesome.min.css' %}"></script>

    {% comment %}Example of loading file js from vite{% endcomment %}
    <script type="module" src="{% static 'main.js' %}"></script>

    <title>Django Vite Template</title>
    {% block header %}

    {% endblock %}
  </head>
  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>
